In [1]:
import pandas as pd

In [2]:
file_path = "./S&P_500.csv"

In [3]:
df = pd.read_csv(file_path)

In [7]:
len(df.columns)

616

In [10]:
df

,3/31/2024,Unnamed: 1,3/30/2024,Unnamed: 3,3/29/2024,Unnamed: 5,3/28/2024,Unnamed: 7,3/27/2024,Unnamed: 9,...,6/2/2023,Unnamed: 607,6/1/2023,Unnamed: 609,5/31/2023,Unnamed: 611,5/30/2023,Unnamed: 613,5/29/2023,Unnamed: 615
0,ID,ID().weights,ID,ID().weights,ID,ID().weights,ID,ID().weights,ID,ID().weights,...,ID,ID().weights,ID,ID().weights,ID,ID().weights,ID,ID().weights,ID,ID().weights
1,AAI KN Equity,0,AAI KN Equity,0,AAI KN Equity,0,AAI KN Equity,0,AAI KN Equity,0,...,AAI KN Equity,0,AAI KN Equity,0,AAI KN Equity,0,AAI KN Equity,0,AAI KN Equity,0
2,ABCL KN Equity,0,ABCL KN Equity,0,ABCL KN Equity,0,ABCL KN Equity,0,ABCL KN Equity,0,...,ABCL KN Equity,0,ABCL KN Equity,0,ABCL KN Equity,0,ABCL KN Equity,0,ABCL KN Equity,0
3,ABSA KN Equity,4.684016,ABSA KN Equity,4.684016,ABSA KN Equity,4.684016,ABSA KN Equity,4.684016,ABSA KN Equity,4.499732,...,ABSA KN Equity,4.205623,ABSA KN Equity,4.174242,ABSA KN Equity,4.174242,ABSA KN Equity,4.2028,ABSA KN Equity,4.238077
4,ARML KN Equity,0,ARML KN Equity,0,ARML KN Equity,0,ARML KN Equity,0,ARML KN Equity,0,...,ARML KN Equity,0,ARML KN Equity,0,ARML KN Equity,0,ARML KN Equity,0,ARML KN Equity,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN